body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #181818;
}
.box{
  width: 700px;
  height: 450;
  padding: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #181818;
  text-align: center;
  border: 2px solid #e4e4e4;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.box h1{
  color: #ebebeb;
  font-weight: 1000;
  margin-left: -450px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.logo-register {
  width: 180px;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: -440px;
}

.box input[type = "username"],.box input[type = "password"]{

  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #51b0f0;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: #c7c7c7;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: 0.25s;
  margin-left: -20px;
  margin-bottom: 20px;

}
.box input[type = "username"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #51b0f0;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #51b0f0;
  padding: 14px 70px;
  outline: none;
  color: #c7c7c7;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 70px;
  margin-right: 488px;
}
.box input[type = "submit"]:hover{
  background: #51b0f0;
}
